footer {
    background-color: #000;
    margin-top: 100px;
  }
  
  .footerflexed {
    display: flex;
    justify-content: space-around;
    padding: 55px;
  }
  
  .footflexed h3 {
    color: white;
    font-size: 24px;
    font-weight: 400;
  }
  
  .footflexed ul li {
    padding: 10px 0;
  }
  
  .footflexed a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
  }
  
  .emailcontainer {
    position: relative;
  }
  
  .searchbuttons {
    padding: 14px;
    border: 1px solid white;
    border-radius: 4px;
    width: 220px;
    background-color: inherit;
    color: #fafafa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .cursurbutton {
    position: absolute;
    top: 13px;
    left: 170px;
    border: none;
    background-color: #000;
    cursor: pointer;
  }
  
  .cursurbutton img {
    width: 30px;
  }

.footflexed2 h4 {
    color: white;
    font-size: 20px;
    font-weight: 400;
  }
  
  .footflexed2 {
    width: 13%;
  }
  
  .footflexed2 p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0;
  }
  
  .footflexed2 a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
  }
  
  .footflexed2 {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
  }
  
  .footflexed3 h4 {
    color: white;
    font-size: 20px;
    font-weight: 400;
  }
  
  .footflexed3 ul li {
    padding: 8px 0;
  }
  
  .footflexed3 a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
  }
  
  .footflexed5 h3 {
    color: white;
    font-size: 20px;
    font-weight: 400;
  }
  
  .footflexed5 span {
    color: gray;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 0;
  }
  
  .appdownload {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .innerflexed {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    align-items: center;
  }
  
  .socialhandles {
    display: flex;
    gap: 25px;
    padding: 20px;
    color:white;
  }
  
  .flast p {
    font-size: 16px;
    color: rgb(79, 76, 76);
    font-weight: 300;
  }
  
  .flast {
    height: 70px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-top: 1px solid rgb(39, 36, 36);
    padding: auto 0;
  }