/* .picture_slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */
  
  .picture_slide >img {
    width:100%;
    height: 250px; 
  }


  .btn{
    display:flex;
    gap: 10px;
  }

  .btn button{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #808080;
    border: none;
  }

  .btn button:hover{
    background-color: #DB4443;
  }