.signup_container {
  margin: 50px;
  display: flex;
  align-items: center;
  text-align: left;
}

.signup_container form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 100px;
  width: 40%;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn1,
.btn2 {
  padding: 15px;
  border-radius: 3px;
  transition: all 0.4s;
}

.btn1:hover {
  background-color: rgb(189, 0, 0);
}

.signup_container form p {
  font-size: 13px;
  color: grey;
}
