
#wishlist1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 40px;
  }
  
  #wishlist1 h4 {
    margin-left: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  
  #wishlist1 button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 223px;
    height: 56px;
    background: #fafafa;
    margin-right: 20px;
    border-radius: 4px;
  }
  
  #wishlist1 button a {
    text-decoration: none;
    color: var(--text-2, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  