.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 150px;
    margin: 0 auto;
  
    border: 1px solid #ccc;
    border-radius: 30% 1px 55% 1px ;
    background-color: rgb(173, 214, 239);
}

li{
    cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  transition: lightgray 0.8s ease;
}


  
  li:hover {
    color: rgb(139, 95, 104);
  }

 
  
  
  
  
  