.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 50px;
  }

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 130px;
}

.main h1{
color: #000;
font-family: Inter;
font-size: 55px;
font-weight: 600;
letter-spacing: 3.24px;
}

.main p{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
flex-wrap: wrap;
max-width: 91%;
margin: 25px 0;
}

.spann {
    font-size: 16px;
    font-weight: 200;
    padding-top: 50px;
    margin-left: 130px;
  }

  /* style for AboutBox mapped */
  .AboutBox_outer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 80px 0;
}

.AboutBox_outerD{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 80px 0;
}