.btn {
  padding: 0.5rem 0.9rem;
  color: var(--white100);
  background-color: var(--purple400);
  transition: all 0.5s ease-in;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
  transform: scale(1.04);
  cursor: pointer;
}
