/* .modal_inner {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: white;
    /* position: fixed;
    z-index: 15; */
    /* top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    /* overflow-y: scroll; */
    /* margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 5px black, -0px -0px 5px black;
  } */ 
  
  .modal_container {
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    /* position: fixed; */
    /* z-index: 15; */
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 5px black, -0px -0px 5px black;
    background:white;
  }
  
  .modal_close {
    position: sticky;
    top: 0;
    text-align: right;
    font-size: 20px;
    margin: 0;
    z-index: 1;
    padding: 2px 10px;
    color: white;
  }
  
  .modal_close::before {
    content: "x";
    padding: 5px 10px;
    border-radius: 25%;
    position: absolute;
    z-index: 0;
    background-color: rgb(95, 95, 95);
    cursor: pointer;
  }
  
  .page_title {
    display: flex;
    align-items: center;
    margin-left: 135px;
  }
  
  .page_title h4 {
    color: var(--text-2, #000);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    opacity: 0.5;
    padding-right: 12px;
  }
  
  table {
    width: 1100px;
    height: 356px;
    border-collapse: separate;
    border-spacing: 0 40px;
    margin-left: 135px;
    margin-right: 135px;
  }
  
  table thead th {
    padding-right: 90px;
    /*display: flex;
      width: 1100px;
      height: 72px;
      /* justify-content: center; 
      align-items: center;*/
  }
  
  table .product_data {
    display: flex;
    align-items: center;
  
    /* width: 1170px;
      height: 102px;
      border-radius: 4px;
      background: var(--primary, #fff);
      box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);  */
  }
  /* 
    table .product-data p {
      padding-left: 20px;
    } */
  
  th {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
  }
  
  tr {
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    padding: 0;
  }
  td {
    align-items: center;
    font-size: 12px;
  }

  .qty {
    width: 30px;
  }

  .product_data p{
    font-size: 1.3rem;
    font-weight: 700;
    
  }
  .prices p{
    font-size: 1rem;
    font-weight: 700;
    
  }
  
  .action_button {
    width: 1100px;
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s;
  }
  
  .action_button button a {
    text-decoration: none;
    color: #000;
    transition: all 0.4s;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  
  .action_button button {
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    /* margin-left: 135px;
      margin-right: 135px; */
  }
  
  .action_button button:hover {
    background-color: #db4444;
    cursor: pointer;
  }
  
  .checkout_foot {
    width: 1100px;
    display: flex;
    /* align-items: baseline; */
    margin-top: 80px;
    margin-left: 135px;
  }
  
  .checkout_foot input {
    width: 250px;
    height: 50px;
    display: flex;
    /* padding: 16px 164px 16px 24px; */
    align-items: center;
    border-radius: 4px;
    border: 1px solid #000;
  }
  
  .checkout_foot input {
    color: var(--text-2, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-left: 20px;
    line-height: 24px; /* 150% */
  }
  
  .checkout_foot button {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    /* padding: 16px 164px 16px 24px; */
    align-items: center;
    border-radius: 4px;
    margin-left: 15px;
    background-color: #db4444;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .checkout_foot button p {
    color: var(--text, #fafafa);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  
  .total {
    width: 500px;
    height: auto 350px;
    border-radius: 4px;
    border: 2px solid #000;
    margin-left: 200px;
    margin-block-start: 0;
  }
  
  .total hr {
    padding-right: 30px;
    border-width: 0.5px;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  
  .total h4 {
    color: var(--text-2, #000);
    /* Title/20PX Medium */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
  }
  
  .total li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    margin-top: 0px;
  }
  
  .total li p {
    color: var(--text-2, #000);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  
  .total button {
    width: 270px;
    margin-left: 60px;
    color: var(--text, #fafafa);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    margin-bottom: 30px;
  }

  .input {
    width: 70px;
    height: 30px;
    border: solid 1px;
    border-radius: 5px;
  }
  