.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



.AboutDot{
    border: 2px solid #B3B3B3;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #B3B3B3;
}

.AboutDot:hover{
    cursor: pointer;
    background-color: #db4443;
    width: 11px;
    height: 11px;
}