@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* general styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

/* End of general style */

/* --------------- */
/* Mobile first */
/* ------------------ */

/* header */
#logo {
  font-size: 2rem;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid white;
  background-color: navy;
  padding: 15px;
}
header #logo {
  font-size: 15px;
}

header > nav {
  display: none;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul > li {
  margin-right: 20px;
}

header ul > li > a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

header .menu-bar {
  cursor: pointer;
  background-color: white;
}
/* End of header */

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  background-color: navy;
  border: 1px solid #fff;
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  margin-top: 50px;
}

.sidebar ul > li {
  margin-bottom: 20px;
}

.sidebar ul > li > a {
  display: inline-block;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.sidebar ul > li > a:hover {
  color: goldenrod;
  transform: scale(1.1);
}

/* end of side bar */

/* banner */
.banner {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner .bannerImage {
  flex: 1;
  background-color: blue;
}

.banner .bannerText {
  flex: 1;
  background-color: blueviolet;
  background-image: url("https://images.pexels.com/photos/2873486/pexels-photo-2873486.jpeg?auto=compress&cs=tinysrgb&w=400");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.bannerContent {
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(244, 202, 202, 0.5);
  z-index: 0;
}
/* /end of banner */

.flex-container {
  min-height: 450px;
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  /* align-content: flex-end; */
}
/* felx principle */
.flexItems {
  flex-grow: 1;
  flex-shrink: 0;
  height: 100px;
  background-color: rgb(19, 19, 191);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexItem-1 {
  /* width: 50px; */
  order: 2;
  flex-basis: 1;
}

.flexItem-2 {
  order: 3;
  /* width: 200px; */
  flex-basis: 1;
}
.flexItem-3 {
  order: 1;
  /* width: 300px; */
  flex-basis: 1;
}

/* grid */

.grid-container {
  min-height: 380px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-template-rows: 50px;
  grid-gap: 10px;
  justify-content: end;
  align-content: center;
  /* grid-column-gap: 30px;
  grid-row-gap: 30px; */
  background-color: aqua;

  grid-template-areas:
    "nav"
    "menu"
    "main"
    "right"
    "footer";
}

@media (min-width: 780px) {
  .grid-container {
    grid-template-columns: 1fr 3fr 2fr;

    grid-template-areas:
      "nav nav nav"
      "menu main right"
      "menu footer footer";
  }
}

.nav {
  grid-area: nav;
  /* grid-column: 1/4;
  grid-row: 1/2; */
  /* grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; */
}

.menu {
  grid-area: menu;
  align-self: center;
  /* grid-column: 1/2;
  grid-row: 2/4; */
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4; */
}

.main {
  grid-area: main;
  /* align-items: end; */
  /* grid-column: 2/3;
  grid-row: 2/3; */
  /* grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; */
}

.right {
  grid-area: right;
  /* grid-column: 3/4;
  grid-row: 2/3; */
  /* grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3; */
}

.footer {
  grid-area: footer;
  /* grid-column: 2/4;
  grid-row: 3/4; */
  /* grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4; */
}
.grid-items {
  /* width: 300px; */
  min-height: 50px;
}

.grid-items-1 {
  background-color: blueviolet;
}
.grid-items-2 {
  background-color: greenyellow;
}

.grid-items-3 {
  background-color: red;
}

.grid-items-4 {
  background-color: rgb(64, 32, 125);
}
.grid-items-5 {
  background-color: rgba(102, 187, 69, 0.606);
}
/* end of grid */

/* media query */
/* tablets */
@media (min-width: 640px) {
  .banner {
    flex-direction: row;
  }
}

@media (min-width: 678px) {
  header > nav {
    display: flex;
  }
  header .menu-bar {
    display: none;
  }
}
/* tablet */
@media (min-width: 768px) {
}

/* laptops */
@media (min-width: 1024px) {
}

/* large screens */
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
/* End of media query */
