$mainWhite: #fff;

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  & .ldsdualRing {
    display: inline-block;
    width: 74px;
    height: 74px;

    &:after {
      content: " ";
      display: block;
      width: 56px;
      height: 56px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid $mainWhite;
      border-color: $mainWhite transparent $mainWhite transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
