.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner .ldsdualRing {
  display: inline-block;
  width: 74px;
  height: 74px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 56px;
  height: 56px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
