.container {
    
}
.inner_container {
    margin-top: 80px;
    display: flex;

}

.hero {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-left: 100px;

}

.input_group input{
    margin-top: 15px;
    width: 350px;
    padding: 10px;
    border-bottom: solid 0.5px;
    outline: none;
    
}

.top h2{
    color: var(--text-2, #000);
    /* Heading/36PX Medium */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 83.333% */
    letter-spacing: 1.44px;
    padding-top: 100px;
    font-weight: 700;
    padding-bottom: 20px;
}

.buttons {
    margin-top: 40px;
    display:flex;
    gap: 15px;
}

.buttons .login {
    width: 150px;
    height: 55px;
    background-color: #DB4444;
    color: white;
    border-radius: 5px;
    margin-left: 70px;
   
}

.buttons .forget {
    width: 250px;
    height: 50px;
    background-color: white;
    color : red;
}
.top p {

color: var(--text-2, #000);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.topright {
    display: flex;
    align-items: center;
}

.topright img {
    width: 170px;
    padding-top: 100px;
    padding-bottom: 20px;
}

