.AboutBox_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 80px 0;
}

.outer_circle {
  border: 1px solid gray;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 10px 10px;
  background-color: #c1c1c1;
  border: none;
}

.inner_circle {
  border: 1px solid gray;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 9px;
  position: relative;
  background: #000;
  border: none;
}

.iconss {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 30px;
  z-index: 999;
  color: aliceblue;
  font-size: 40px;
}

.outer_div {
  border: 1px solid gray;
  height: 220px;
  width: 230px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 15px 10px;
}

.text h1 {
  margin: 20px 0;
  font-size: 40px;
  font-weight: 500;
}

.text p {
  font-size: 16px;
  font-weight: 400;
}

.outer_div:hover {
  background-color: #db4443;
  border: none;
  color: aliceblue;
  .inner_circle {
    background-color: aliceblue;
  }
  .iconss {
    color: #000;
  }
  .outer_circle {
    background-color: #e67c7c;
  }
}
