.ldsdualRing {
    display: inline-block;
    width: 74px;
    height: 74px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ldsdualRing:after {
    content: " ";
    display: block;
    width: 56px;
    height: 56px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid var(--primaryColor);
    border-color: var(--primaryColor) transparent var(--primaryColor) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}






@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}