section {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlist_cta {
  margin: 50px 0 0px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.wishlist_cta h5 {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.wishlist_cta button {
  text-align: center;
  font-family: poppins;
  padding: 10px 18px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.product_tabs {
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(100px, 200px);
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  text-align: left;
}

@media screen and (min-width: 450px) {
  .product_tabs {
    grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(
        100px,
        200px
      );
  }
}

@media screen and (min-width: 650px) {
  .product_tabs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: flex-start;
    overflow-x: scroll;
  }
}

@media screen and (min-width: 950px) {
  section {
    margin-left: 135px;
    margin-right: 135px;
  }

  .wishlist_cta {
    margin: 60px 0 0px 0;
  }

  .wishlist_cta h5 {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  .wishlist_cta button {
    text-align: center;
    font-family: poppins;
    padding: 10px 18px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    /* border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255); */
  }
}
