.wishlist {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 25px;
  }
  
  .product_box {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 260px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
    border: none;
    overflow: hidden;
    
  }
  .product_box > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-height: 215px;
    mix-blend-mode: darken;
  }
  
  .cart {
    font-size: 12px;
    border: 1px solid black;
    height: 45px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0 0 5px 5px;
    bottom: 0;
    width: 100%;
  }
  
  .tocart:hover{
    cursor: pointer;
  }
  
  .position button {
    position: absolute;
    border: none;
    background-color: #db4444;
    border-radius: 3px;
    width: 55px;
    height: 26px;
    color: #f5f5f5;
    top: 15px;
    left: 10px;
  }
  .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
  }
 
  
  .elipse {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
  }
  
  .price p {
    font-size: 16px;
    font-weight: 500;
  }
  
  .price span {
    font-size: 16px;
    font-weight: 400;
    color: #db4444;
  }
  
  .price s {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    padding-left: 10px;
  }
  
