
.container h2 {
    font-size: 35px;
    font-weight: 400;
    margin: 35px 0;

}

.spann {
    font-size: 16px;
    font-weight: 300;
    padding-top: 50px;
    color: grey;
  }

  .rapper{
    margin-left: 120px;
  }


