header {
    background-color: #000000;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .head_flexed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 310px;
    gap: 8px;
  }
  
  .head_flexed p {
    color: aliceblue;
    font-size: 14px;
  }
  
  .head_flexed a {
    color: white;
    font-size: 14px;
    font-weight: 600;
  }


    select {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
  }
  
    select:focus {
    outline: none;
  }