body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.outter-container {
  background-image: url(./images2/Assets/homepage-map.png);
  background-color: #eaf8ee;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* Start of Navigation Section */

.advert {
  width: 100%;
  height: 60px;
  background-color: rgb(16, 16, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: small;
}

.Navigation .advert > .topadd {
  font-size: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  height: 55px;
  position: sticky;
  top: 0px;
  background-color: rgb(245, 245, 240);
  z-index: 900;
  /* margin-top: 0px; */
}

.subnav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.nav > .subnav > .sub-logo {
  display: none;
}

.nav .logo {
  padding-left: 10px;
}

.nav .menubar {
  padding-left: 25px;
}
.nav .list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav .list li {
  font-size: 15px;
}

.nav .list li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}
.nav .sub-logo {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sub-logo button {
  border-radius: 5px;
  height: 40px;
  width: 90%;
  font-size: medium;
  background-color: #51b66d;
  border: none;
  color: white;
}

/* End of Navigation Section */

/* Start of Modern Section */

.modern {
  width: 100%;
  height: 100vh;
  margin-top: 0;
}

.modern {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  position: relative;
}

/* .modern h1 {
  font-size: 30px;
  margin-top: 20%;
  color: rgb(8, 8, 36);
  padding: 0;
} */

.toptext > p {
  font-weight: 600;
  color: rgb(8, 8, 36);
  margin-bottom: 0px;
  padding: 0;
  font-size: 1rem;
  width: 90%;
}

.Create {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 30px;
  width: 80%;
  margin: 0;
}

.Create button {
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-size: medium;
  background-color: #51b66d;
  border: none;
  color: white;
}
.Create span {
  color: #51b66d;
  font-weight: 600;
}

.Create > li {
  padding: 5px;
  width: 100%;
}

.Create li a {
  text-decoration: none;
}

.modern .dominos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* position: absolute;
  left: 0;
  /* bottom: 0; */
  align-content: center;
  padding-left: 20px;
  padding-bottom: 0px;
  margin-top: 20px;
}

.toptext .moderntext {
  color: rgb(8, 8, 36);
  font-size: xx-large;
  width: 100%;
  margin-block-end: 0;
}

.toptext {
  padding-left: 3px;
  padding-right: 0;
  width: 100%;
  margin: 25px;
}

/* .toptext > p {
  font-size: medium;
} */

.modern .dominos p {
  font-size: medium;
  font-weight: 600;
  color: rgb(8, 8, 36);
  margin-top: 40px;
}

.modern .mtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding-inline-start: 0;
}

.mtn #image {
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 5%;
}

.mtn span {
  color: blue;
  font-weight: 600;
}

.modern .mtn li a {
  color: black;
  text-decoration: none;
}
.mtn li .watch {
  font-size: 0.9rem;
  margin-block-end: 1rem;
  width: 90%;
  justify-content: left;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
}

/* End of Modern Section */

/* Start of Middle text section */

.middletext > h2 {
  font-size: 2rem;
  margin-block-end: 10px;
  padding-left: 20px;
}
.middletext > p {
  margin-top: 0;
  margin-block-end: 20px;
  font-size: 1.1rem;
  width: 1005;
  padding-left: 5%;
}

/* End of Middle text Section */

/* Start of Payment Section */
.paymenttxt h2 {
  font-size: 1.5rem;
  width: 100%;
  padding-left: 3%;
}

.paymenttxt p {
  font-weight: 200;
  padding-left: 10px;
}

.paymenttxt p {
  margin-block-start: 0.83em;
  font-size: 1.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

.payment-mode ul {
  display: flex;
  flex-direction: column;
  margin-block: 0;
  list-style: none;
  justify-content: center;
  padding-inline-start: 5px;
}

.payment-mode > ul > li {
  padding: 5px;
  width: 100%;
}

.payment-mode > ul > li > a {
  display: flex;
  align-items: center;
  color: rgb(10, 10, 10);
  text-decoration: 0;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  padding-left: 30px;
  position: relative;
}
.payment-mode > ul > li > a::before {
  content: "";
  position: absolute;
  background-image: url(./images2/Assets/greencheck.png);
  width: 40px;
  background-repeat: no-repeat;
  /* height: 15px; */
  left: 0;
  top: -5px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.rate h2 {
  font-size: x-large;
  color: rgb(8, 8, 36);
  padding-left: 15px;
}

.rate p {
  font-size: medium;
  font-weight: 500;
  padding-left: 15px;
}
.rate span {
  display: flex;
  align-items: center;
  color: rgb(124, 241, 124);
  font-weight: 600;
  padding: 15px;
}

/* .custom-api {
  display: flex;
} */

.api {
  margin-top: 50px;
  width: 100%;
  padding-left: 30px;
}

.custom-payment > h2 {
  font-size: 2rem;
  padding-left: 15px;
}

.custom-payment > p {
  padding-left: 15px;
  padding-right: 15px;
}

.custom-links {
  display: flex;
  flex-direction: column;
  margin-block: 0;
  list-style: none;
  justify-content: center;
  padding-inline-start: 5px;
}
.custom-links > li {
  padding: 5px;
  width: 100%;
}
.custom-links > li > a {
  display: flex;
  align-items: center;
  color: rgb(10, 10, 10);
  text-decoration: 0;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  padding: 1px;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  background-color: white;
  border: 1px solid;
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
  margin-top: 58px;
}

.sidebar.open {
  transform: translate;
  left: 250px;
}

.sidebar ul {
  margin-top: 30px;
  padding-left: 90px;
  width: 100%;
}

.sidebar ul > li {
  list-style: none;
  margin-bottom: 20px;
}

.sidebar ul > li #login {
  color: #51b66d;
}

.sidebar ul > li > a {
  display: inline-block;
  color: rgb(21, 21, 56);
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.sidebar ul > li > a:hover {
  color: goldenrod;
  transform: scale(1.1);
}

.sidebar .logo {
  padding-left: 90px;
  width: 100%;
}
.sidebar button {
  border-radius: 5px;
  height: 38px;
  font-size: medium;
  background-color: #51b66d;
  border: none;
  color: white;
}
/* .Create span {
  color: #51b66d;
  font-weight: 600;
}

.Create > li {
  padding: 5px;
  width: 100%;
}

.Create li a {
  text-decoration: none;
} */

/* end of side bar */

/* End of Payment Section */

/* media query */
@media (max-width: 678px) {
  header > nav {
    display: flex;
  }
  header .menu-bar {
    display: none;
  }
}
/* End of media query */
