body{
    margin: 0;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* header section */
.first{
    font-weight: bold;
    padding: 10px;
    width: 100%;
    background-color: blue;
    color: white;
   position: sticky;
}
/* .navbar{
    position: relative;
    width: 500px;
    display: inline-block;
    
}
.navbar:hover p{
display: block;

}
nav{
    
    font-size: 17px;
    color: grey;
    padding: 0 10px;
    background-color: rgb(20, 19, 19);
    height: 400px;
    position: absolute;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 120px;
    
    display: block;
    z-index: 1;
    overflow: scroll;
    overflow: hidden;
    list-style: none;
}
.nav{
    overflow: scroll;
} */
.img4{
    float: right;
    
}
.img4:hover{
cursor: pointer;

display: flex;

}
.header{
    
    /* position: fixed;m */
    margin: auto;
    
    border: 1px solid rgb(196, 188, 188);
}
.header1{
    display: flex;
    justify-content: center;

    padding: 0 10px;
    text-align: center;
}
.img1{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
}

.header2{
    width: 100%;
    background-color: white;
    
    
    position: fixed;
    display: flex;
    position: sticky;
    justify-content: space-between;
    margin: 0 10px;
    border: 1px solid rgb(233, 203, 203);
    padding: 20px;
    margin: auto;
}
.bars{
    font-size: 18px;
    display: none;
    gap: 40px;
    margin-left: 100px;
    padding-top: 40px;
    color: grey;
}
.content1{
    width:387px;
    border: 1px solid rgb(221, 218, 218);
    font-size: 20px;
    text-align: center;
    margin: auto;
margin-top: 40px;
padding-bottom: 35px;

}
.content-1 {
    display: flex;
    justify-content: space-between;
    margin:0 35px;
    font-size: 15px;
    color: grey;
}
main{
    
    border-top: 1px solid rgb(209, 196, 196);
    border-bottom: 1px solid rgb(209, 196, 196);

}

.button{
    width: 100px;
    height: 40px;
    background: blue;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
input{
    width: 330px;
    height: 42px;
    border: none;
    font-size: 20px;
    justify-content: center;
    background-color: transparent;
}

.input{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 48px;
    width: 370px;
    height: 50px;
    
    border: 1px solid rgb(221, 211, 211);
    border-radius: 10px;

    
}

.input:hover{
    text-decoration: none;
    background-color: rgb(202, 201, 201);
    
}
.follow{
    font-weight: bold;
    font-size: 20px;
    padding-left: 48px;
}
.icons{
    display: flex;
    margin-left: 48px;
    gap: 10px;
    
    margin-bottom: 40px;
}
.img2{
    width: 80px;
    height: 55px;
   padding-top: 25px;
}
.compt{
    display: flex;
    gap: 15px;
    margin: 20px 48px;
}
.img3{
    width: 420px;
    
    padding-left: 40px;
}
.content3 div{
    width: 400px;
    height: 55px;
    font-size: 18px;
    border: 1px solid rgb(216, 212, 212);
    color: grey;
    padding-left: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.button2{
    margin: auto;
    width: 400px;
    height: 70px;
    background-color: blue;
    font-size: 25px;
border: none;
border-radius: 7px;
color: white;
margin-bottom: 45px;
margin-left: 40px;
}
.content4{
    background-color: whitesmoke;
}
.footer{
    color: rgb(146, 135, 135);
    
    font-size: 17px;
}
.content5{
    padding: 20px;
    background-color: black;
}
.copyright{
    font-size: 15px;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .bars{
        display: flex;
        gap: 40px;
        margin-left: 100px;
        padding-top: 40px;
        color: grey;
    }
    .img4{
        display: none;

    }
    .img5{
        width: 160px;
        padding-left: 40px;
    }

    .content1{
       
        width:387px;
        border: 1px solid rgb(221, 218, 218);
        font-size: 20px;
    margin-top: 40px;
    padding-bottom: 35px;
    
    
    }
.main1{
    display: grid;
    grid-template-columns: 387px 387px;
    grid-template-rows: repeat("13, 1fr");
    gap: 40px;
    margin-left: 100px;
}
main{
    display: flex;
    padding-bottom: 40px;
}
.content4{
    display: flex;
    padding-top: 40px;
}
.content5{
background-color: rgb(27, 27, 27);
}
.content6{
    
    display: flex;
    padding-left: 70px;
    gap: 200px;
    
}
.copyright{
    align-items: center;
    
    border: none;
    padding-top: 30px;
    margin: auto;
    height: 50px;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: flex-start;
}
.img1{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.header-1{
    display: flex;
}
nav{
    display: none;
}
}