.signin_container {
  margin: 50px;
  display: flex;
  align-items: center;
  text-align: left;
}

.signin_container form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 100px;
  width: 40%;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn1 {
  width: 50%;
  padding: 15px;
  border-radius: 3px;
  transition: all 0.4s;
}

.btn1:hover {
  background-color: rgb(189, 0, 0);
}

.signin_container form a {
  font-size: 13px;
  color: rgb(189, 0, 0);
}
