body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0;
}

ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

i,
nav ion-icon,
nav > div > img {
  padding: 5px;
  border-radius: 50%;
  transition: all 0.4s;
}
nav > div > i:hover,
nav ion-icon:hover,
nav > div > img:hover {
  background-color: #db4444;
  color: white;
}

button {
  text-align: center;
  font-family: poppins;
  padding: 5px 10px;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.4s;
}
button:hover {
  color: white;
  background-color: black;
  border: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* styling for product container... For ease of development, i'm putting it here instead of a module */

.product_tabs {
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(100px, 200px);
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  text-align: left;
}

@media screen and (min-width: 450px) {
  .product_tabs {
    grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(
        100px,
        200px
      );
  }
}

@media screen and (min-width: 650px) {
  .product_tabs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: flex-start;
    overflow-x: scroll;
  }
}
/*  */
