.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main {
  position: relative;
  margin-top: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main > * {
  width: 100%;
}
