.container{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 25% 10px 40% 10px ;
    background-color: rgba(239, 187, 187, 0.4);
}

li{
    cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  transition: lightgray 0.8s ease;
}


  
  li:hover {
    color: rgb(139, 95, 104);
  }

 
  
  
  
  
  