.wishlist{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Wishlist_items{
    /* width: 80%; */
    margin: 50px auto;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media(max-width:700px){
    .Wishlist_items{
        width: 100%;
    }
}
.Wishlist_img{
    width: 230px;
    height: 190px;
    background-color: rgba(199, 193, 193, 0.301);
    position: relative;
}


.Wishlist_img img{
    width: 80%;
    margin: 10px 10%;
}
.Wishlist_img h6{
    text-align: left;
    padding:20px 0;
    font-size: 12px;
    padding: 5px;
}

.Wishlist_img p{
    text-align: start;
    font-size: 15px;
    color: red;
    padding: 5px;
    
}

.Wishlist_img span {
    text-decoration: line-through;
    color: gray;
}

#delete{
    position: absolute;
    top: 10px;
    right: 10px;
}