/* footer start */
footer {
  background-color: #000;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
}

footer > img {
  width: 100px;
}

.footer_grid {
  display: grid;
  padding: 50px 0 40px 0;
  font-size: 12px;
}

.footer_grid > img {
  width: 100px;
}

.footer_grid > div > h5 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}

.footer_grid > div > p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer_grid > div > div {
  position: relative;
}

.footer_grid > div > div > input {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  width: 220px;
  padding: 12px 16px;
  border-radius: 3px;
  color: white;
}
.footer_grid > div > div > input:focus {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  width: 220px;
  padding: 12px 16px;
  border-radius: 3px;
}
.footer_grid > div > div > input:active {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  width: 220px;
  padding: 12px 16px;
  border-radius: 3px;
}

.footer_grid > div > div > input:hover + .footer_email_submit {
  padding-left: 20px;
}

.footer_email_submit {
  padding: 12px 16px;
  position: absolute;
  left: 198px;
  bottom: 0;
  top: 0;
  margin: auto;
  transition: all 0.4s;
}

footer ul {
  width: 100%;
  margin: 20px 0;
}

.footer_list_head {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 0;
}

footer ul > li {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer_app_link p {
  color: var(--text, #fafafa);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.footer_qr {
  grid-area: qr;
}
.footer-gp {
  grid-area: gp;
}
.footer-as {
  grid-area: as;
}

.footer_grid_link {
  width: 200px;
  display: grid;
  grid-template-areas:
    "qr gp"
    "qr as";
}

.footer_sm_icons {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 190px;
}

.copyright_text {
  color: var(--primary, rgb(133, 133, 133));
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
/* footer end */

@media screen and (min-width: 950px) {
  footer {
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 60px;
  }

  /* footer start */
  footer {
    background-color: #000;
    color: white;
  }

  .footer_grid {
    display: grid;
    grid-template-columns: 200px auto auto auto;
    grid-template-rows: auto auto;
    padding: 50px 0 40px 0;
    font-size: 12px;
    gap: 80px;
  }

  .footer_grid > div > div > input {
    width: 150px;
  }
  .footer_grid > div > div > input:focus {
    width: 150px;
  }
  .footer_grid > div > div > input:active {
    width: 150px;
  }

  .footer_grid > div > div > input:hover + .footer_email_submit {
    padding-left: 24px;
  }

  .footer_email_submit {
    left: 130px;
  }

  footer ul {
    margin: 0;
  }

  .copyright_text {
    color: var(--primary, rgb(133, 133, 133));
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

@media screen and (min-width: 1204px) {
  .footer_grid {
    grid-template-columns: 200px auto auto 10% auto;
  }
}
