@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

img {
  width: 100%;
}

.container {
  width: 100%;
}

.wrapper {
  background-color: #f3f3f3;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
