@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --white100: #fff;
  --white90: #f3f3f3;
  --brown100: brown;
  --font-stack: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  font-size: 12px;
}

img {
  width: 100%;
}

.container {
  width: 100%;
}

.wrapper {
  background-color: var(--white90);
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
