/* *{
    box-sizing: border-box;
} */

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Advert{
    display: flex;
    flex-direction: column;
   /* height: 100%; */
   width:100%;
   text-align: center;
   background-color: #1a73ef;
   color: white;
   font-size: 15px;
   padding-top: 25px;
   align-items: center;
   margin: 0px;
}
#wordpress{
    display: flex;
    padding-left: 20px;
    width: 100%;
}
#social{
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}
.image{
    display: flex;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin: 2px;
}
.coloriblogo{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 10;    
}
.coloriblogo ul{
    display: none;
}
.logo{
    margin-left: 40px;
    padding-top: 20px;
}

.sidebar {
    width: 100%;
    /* background-color: red; */
}

.sidebar ul{
    position: fixed;
    left: 10%;
    top: 0;
    z-index: 999;
    display: block;
    width: 80%;
    /* color: white; */
    background-color:rgb(11, 22, 22) ;

}

.sidebar ul li {
    text-decoration: none;
    list-style: none;
}

.sidebar ul li a{
    color: white;
}
.sidebarsearch a{
    display: flex;
    justify-content: space-between;
}
  
#blog{
   padding: 50px;
   /* margin-left: 30px; */
   /* padding-left: 40px; */
   font-size: large;
   background-color: beige;
   
}
.container{
    width: 95%;
    margin: 25px;
    height: auto;
    border: solid rgb(247, 247, 243);
    border-width: 1px;
}
.container h4{
    width: 100%;
}
#content{
    margin: 10px;
    padding: 10px;
    font-size: large;

}
#content ul{
    list-style: none;
    display: flex;
    margin-left:-40px;
    flex-wrap: wrap;
}
#content li {
    display: flex;
    align-items: center;
}


#content li img {
     padding: 5px;
}
button{
    background-color: #1a73ef;
    color: white;
    width: 150px;
    height: 50px;
    border-width:0;
    border-radius: 4px;

}
#search{
    color: blanchedalmond;
    height: 60px;
    width: 90%;
    display: flex;
    flex-direction: row;
    border:1px solid blanchedalmond;
    border-radius: 5%;
    margin: 20px;
    justify-content: space-between;
}
.socialpngbox{
    margin-left: 20px;
}
#Hrefimages{
    width: 90%;
}

a{
    text-decoration:none;
    color: rgb(3, 3, 24);
    font-size: large;
    display: flex;
    margin: 20px;
}
h3{
    margin-left: 20px;
}
 
table{
    width: 90%;
    margin: 20px;
    border-collapse: collapse;
}
td{
    border: 1px solid silver;
    border-collapse: collapse;
}
.change{
    width: 90%;
    margin: 20px;    
}
.change button{
    width: 20%;

}
footer{
    width: 100%;
    background-color: rgb(11, 22, 22);
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
footer ul{
    list-style: none;
    margin-left: -50px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footerdiv{
    width: 100%;
    margin: 10px;
    padding: 10px;
}
footer p{
    text-align: center;
    padding-top:25px ;
    padding-bottom: 25px;
}
 /* start of media query */
 @media screen and (min-width :678px) {
    #Advert{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left:20px;
        /* padding-right: 40px; */
        padding-bottom: 25px;
        /* margin: 20px; */
        height: 100%;
    }
    .coloriblogo ul{
        list-style: none;
        display: flex;
    }
    
    .sidebar {
        display: none;
    }
    #menubar{
        display:none ;
    }
    .gridcontainer{
        display: flex;
        flex-direction: row;
        
    }
    .Grid-layout{
        
        display: grid;
        grid-template-columns: 400px 400px;
        grid-gap: 25px;
    }
    #gridcolumn3{
        width: 35%;
        margin-left: 40px;
    }
    .footerdiv{
        display: flex;
        justify-content: space-between;

    }
    .change{
        display: flex;
        justify-content: space-between;
        background-color:beige;
        color: silver;
        font-size: larger;
        width: 100%;
        margin: 0;
        padding: 30px;
        margin-bottom: -10px;
    }

 }