.timer h1 {
  display: flex;
  gap: 14px;
  font-size: 40px;
  font-weight: 600;
}

.timer span{
    color: #DB4443;
    font-size: 30px;
    margin-top: 7px;
}

.counter {
  display: flex;
  gap: 40px;
}

.counter p {
  font-size: 14px;
}
