.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.black_container{
    background-color: black;
    height: 260px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 40px 60px;
    min-width: 800px;
}


.apple{
    font-size: 40px;
    color: white;
}

.inner_flexed h1{
    font-size: 50px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 15px 0;
}

.Apple_flexed{
    display: flex;
    align-items: center;
    gap: 30px;
}

.Apple_flexed p{
    color: white;
    font-size: 18px;
}

.link{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.arrow{
    font-size: 25px;
    font-weight: 900;
}



.wrapper{
    margin:  70px 100px 0 100px ;

}

  
  .btn {
    border: 1px solid gray;
    width: 25px;
    min-height: 60px;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    background-color: #db4444;
    border-color: gray;
    border-radius: 6px;
    border: none;
    margin-top: 30px;
  }
  
  .intro2 h4 {
    font-weight: 500;
    font-size: 18px;
    padding-top: 22px;
    color: #db4444;
  }

  .intro2_flex {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .arrow_flexed{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .contain {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
  }

  .flash{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  .inner_flash{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .flash h2{
    font-size: 40px;
    font-weight: 500;
  }

  .AboutBox_outerD{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 80px 0;
  }