* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  height: 75px;
  width: 100%;
  position: sticky;
  top: 0px;
  border: 1px solid;
  border-color: #e4f1e8;
  background-color: rgba(241, 254, 244, 0.95);
  z-index: 5;
  /* margin-top: 0px; */
}
.logo {
  margin-top: 10px;
  margin-left: 40px;
}

.nav .list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-block-start: 0;
  padding-inline-start: 0;
  padding-right: 60px;
  list-style: none;
}

.nav .list li {
  padding: 10px;
}

.nav .list li a {
  text-decoration: none;
  color: black;
}

.list button {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: medium;
  background-color: #51b66d;
  border: none;
  color: white;
  cursor: pointer;
}

#top-container {
  display: flex;
  margin-top: 40px;
  margin-left: 70px;
  padding: 20px;
}

#top-container #large-image {
  padding-left: 20px;
  width: 350px;
  height: 100px;
}

.toptext .moderntext {
  color: rgb(8, 8, 36);
  font-size: 2.5rem;
  width: 70%;
  margin-block-end: 0;
}

.toptext p {
  font-size: 1.2rem;
  width: 80%;
  font-weight: 100;
  font-style: italic;
  padding-top: 10px;
}

.top-left {
  align-items: start;
}

.top-left .Create {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-left: 0px;
  padding-left: 0;
  list-style: none;
}

.top-left .Create li {
  padding: 10px;
}

.top-left .Create li a {
  text-decoration: none;
  color: black;
  width: 80%;
  cursor: pointer;
}

.top-left .Create button {
  border-radius: 5px;
  height: 40px;
  width: 200px;
  font-size: medium;
  background-color: #51b66d;
  border: none;
  color: white;
  cursor: pointer;
}

.dominos {
  font-size: 1rem;
}

.icon-container {
  display: flex;
  margin-left: 50px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 200px;
  height: 80px;
}

.icons h3 {
  font-weight: 100;
  width: 70%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  color: black;
  font-weight: 700;
  font-size: large;
}

.btn-close:hover {
  color: goldenrod;
  text-decoration: none;
  cursor: pointer;
}

.outter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80vh;
  background-color: rgb(232, 246, 252);
  margin: 5px auto;
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 80%;
  /* background-color: white; */
  padding: 5px;
}

#inner-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top left, rgb(127, 106, 175), white);
  width: 600px;
  height: 450px;
}

#main-left {
  background-color: rgb(136, 136, 230);
  width: 500px;
  height: 350px;
}

#main-left h3 {
  color: white;
  font-size: 2.7rem;
  width: 90%;
  font-weight: 600;
  padding-top: 40px;
  padding-left: 15px;
}
#main-left h2 {
  color: rgb(17, 16, 16);
  font-size: 2.7rem;
  width: 60%;
  font-weight: 600;
  padding-left: 15px;
}
#main-left p {
  color: white;
  font-size: small;
  font-weight: 600;
  padding-left: 15px;
  padding-top: 80px;
}

#inner-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  width: 600px;
  height: 450px;
}

#inner-right #top-image {
  width: 100%;
  padding-top: 55px;
  padding-left: 40px;
  padding-bottom: 10px;
  font-size: 30px;
}

#hey-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 40px;
  margin-bottom: 10px;
}

#hey-image h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

#hey-image i {
  padding-left: 10px;
  font-size: 20px;
}

#inner-right #para {
  font-size: 0.7rem;
  color: rgb(127, 106, 175);
  padding-left: 40px;
  width: 50%;
}

.email {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.email input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
}
.password {
  padding-left: 40px;
}

.password input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
}

#terms {
  padding-top: 10px;
  display: flex;
  padding-left: 40px;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
}

#terms p {
  font-size: small;
  padding-left: 5px;
}

#button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-top: 15px;
}

#button button {
  color: white;
  font-weight: 700;
  width: 200px;
  height: 25px;
  border-radius: 5px;
  padding-left: 40px;
  background-color: rgb(127, 106, 175);
}

#terms i {
  font-size: 25px;
}
