.blog__articles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
<<<<<<< HEAD

.blog__article {
  width: 200px;
  padding: 5px;
  box-shadow: 0 0 3px rgba(151, 29, 29, 0.5);
}
=======
>>>>>>> 82460d9de00ed5a840693bf948884cc74ae2d6b9
