.product_tab {
  margin-right: 40px;
  margin-left: 0;
}

.product_tab > div {
  width: 100%;
  overflow: hidden;
}

.top_right_icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  display: flex;
  gap: 5px;
}
.tr_icon {
  border-radius: 50%;
  font-size: 12px;
  padding: 5px 7px;
  background-color: #ffff;
}

.tab_main {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 100px;
  position: relative;
}
.tab_main:hover button {
  opacity: 1;
}

.tab_main div {
  text-align: end;
  position: relative;
  z-index: 1;
}
.tab_main div > i:hover {
  transform: scale(1.1);
}

.tab_main i {
  font-size: 10px;
  padding: 8px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.4s;
}

.tab_main img {
  width: 80px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

.tab_main button {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;

  width: 100%;
  background-color: #000;
  color: white;
  border: none;
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s;
}

.cart {
  font-size: 18px;
  margin: 0 5px;
  transition: all 0.4px;
}

.tab_desc {
  margin: 15px 0;
}

.tab_desc h6 {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

.tab_desc p {
  color: var(--secondary-2, #db4444);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin: 5px 0 0 0;
}

.tab_desc > p > span {
  color: var(--button, rgb(102, 102, 102));
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-decoration: line-through;
  margin-left: 10px;
}

.product_rating i {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.product_rating span {
  font-size: 12px;
}

@media screen and (min-width: 650px) {
  .product_tab {
    width: 200px;
    margin: 30px;
  }

  .product_tab div {
    width: 100%;
    overflow: hidden;
  }

  .tab_main {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 150px;
    position: relative;
  }

  .tab_main img {
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
  }
}
