.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px grey;
}

.nav_details {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container input {
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 6px;
}

.search_input {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  grid-gap: 20px;
  width: 20px;
  height: 20px;
  padding: 5px 8px;
  border-radius: 50px;
  overflow: hidden;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 0px 2px grey;
  transition: all 0.4s;
}

.search_input:hover {
  width: 250px;
}
