
nav {
    display: flex;
    border: 0.1px solid rgb(201, 196, 196);
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    min-height: 100px;
    background-color: #fff;
    padding: 0 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
  }

.nav_right img{
  width: 80px;
}

  .nav_middle ul {
    display: flex;
    list-style: none;
    gap: 48px;
    /* display: none; */
  }

  .nav_middle a {
    text-decoration: none;
    color: #000;
  }


  .search_container {
    position: relative;
  }
  
  .search_input {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    background-color: #f5f5f5;
    border: none;
    margin-left: 90px;
  }
  
  .search_button {
    position: absolute;
    top: 0;
    left: 300px;
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

 